@import "../../style/mixins.scss";
@import "../../style/variables.scss";

.tabs {
  display: flex;
  flex-direction: column;
  gap: $small-spacing;
  grid-area: c;
  @include desktop() {
    gap: $spacing;
  }
  .tabContent {
    flex: 1 1 0;
    > div {
      height: 100%;
      display: flex;
      flex-direction: column;
      gap: $small-spacing;
      @include desktop() {
        gap: $spacing;
      }
    }
  }
  .tabButtons {
    display: flex;
    gap: $small-spacing;
    button {
      flex: 1 1 auto;
      border-radius: $border-radius;
      &.selected {
        background-color: $light-gray;
      }
    }
  }
}
