@import "../../style/mixins.scss";
@import "../../style/variables.scss";

.tabs {
  flex: 0 0 50%;
  display: flex;
  flex-direction: column;
  gap: $small-spacing;
  min-height: 13rem;
  @include desktop-or-landscape() {
    aspect-ratio: unset;
    min-height: unset;
    align-self: stretch;
    gap: $spacing;
  }
  .tabContent {
    flex: 1 1 0;
    overflow-y: scroll;
    > div {
      height: 100%;
      display: flex;
      flex-direction: column;
      gap: $small-spacing;
      @include desktop-or-landscape() {
        gap: $spacing;
      }
      > div:first-child {
        flex: 1 1 70%;
        @include desktop-or-landscape() {
          flex-basis: 85%;
        }
      }
    }
  }
  .tabButtons {
    display: flex;
    gap: $small-spacing;
    button {
      flex: 1 1 auto;
      border-radius: $border-radius;
      &.selected {
        background-color: $light-gray;
      }
    }
  }
}
