@import "../../style/mixins.scss";
@import "../../style/variables.scss";

.brushOptions {
  display: flex;
  flex-direction: column;
  flex: 1 1 0;
  .undoButtons {
    display: flex;
    gap: $spacing;
    flex: 0 0 auto;
    button {
      flex: 0 1 50%;
      border-radius: $border-radius;
    }
  }
  .fields {
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
    overflow-y: scroll;
    justify-content: space-around;
    .field {
      display: flex;
      align-items: center;
      gap: $spacing;
      @include desktop() {
        gap: 0.25rem;
      }
      label {
        flex: 0 0 25%;
        @include desktop() {
          flex-basis: 50%;
        }
      }
      input {
        width: 100%;
        touch-action: none;
        &[type="color"] {
          border: none;
        }
      }
      .rangeInputContainer {
        flex: 1 1 0;
        span {
          color: rgb(255, 255, 255);
        }
      }
    }
  }
}
