@import "../../style/mixins.scss";
@import "../../style/variables.scss";

.brushOptions {
  .fields {
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
    overflow-y: scroll;
    justify-content: space-between;
    @include landscape() {
      justify-content: space-around;
    }
    @include desktop() {
      justify-content: flex-start;
      gap: $spacing;
    }
    .undoButtons {
      display: flex;
      gap: $spacing;
      button {
        flex: 1 1 50%;
        border-radius: $border-radius;
      }
    }

    .field {
      display: flex;
      align-items: center;
      gap: $spacing;
      @include desktop-or-landscape() {
        gap: 0.25rem;
      }
      label {
        flex: 0 0 25%;
        @include desktop-or-landscape() {
          flex-basis: 50%;
        }
      }
      input {
        width: 100%;
        touch-action: none;
        &[type="color"] {
          border: none;
        }
      }
      .rangeInputContainer {
        flex: 1 1 0;
        span {
          color: rgb(255, 255, 255);
        }
      }
    }
  }
}
