* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 16px;
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  overflow: hidden;
}

#root {
  height: 100%;
}

span,
button,
input,
label,
li {
  font-family: "Source Sans Pro", sans-serif;
}

button,
input,
label {
  color: rgb(255, 255, 255);
}

button,
input {
  border: 0.1rem solid rgb(255, 255, 255);
  background-color: transparent;
  font-size: 0.85rem;
}

button {
  cursor: pointer;
  padding: 0.5rem 1rem;
}

button:disabled {
  opacity: 0.25;
  cursor: not-allowed;
}

.hidden {
  display: none;
}
