@import "../style/mixins.scss";
@import "../style/variables.scss";

.wrapper {
  position: relative;
  aspect-ratio: 16 / 9;
  border-top-left-radius: $border-radius;
  border-top-right-radius: $border-radius;
  padding: $spacing $spacing 0 $spacing;
  background-color: $dark-gray;
  @include landscape-or-desktop() {
    flex: 1 0 auto;
    border-top-right-radius: 0;
  }
  .canvas {
    position: absolute;
    width: calc(100% - $spacing * 2);
    height: calc(100% - $spacing);
    min-width: 0;
    background-color: $light-gray;
    touch-action: none;
    border-radius: $border-radius;
    &.drawingDisabled {
      pointer-events: none;
    }
  }
}
