@import "../style/mixins.scss";

.canvas {
  aspect-ratio: 16 / 9;
  min-width: 0;
  background-color: rgb(100, 100, 100);
  touch-action: none;
  @include landscape-or-desktop() {
    flex: 1 0 auto;
  }
  &.drawingDisabled {
    pointer-events: none;
  }
}
