@import "../../style/mixins.scss";

.container {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  height: 100%;
  background: linear-gradient(0deg, rgb(25, 25, 25) 0%, rgb(10, 70, 185) 80%);
  @include landscape() {
    padding: 0 1rem;
  }
  @include desktop() {
    padding: 0 7rem;
  }
  .drawingModeGradient,
  .roundEndGradient {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: opacity 2000ms;
    &.hidden {
      opacity: 0;
    }
  }
  .drawingModeGradient {
    background: linear-gradient(0deg, rgb(25, 25, 25) 0%, rgb(155, 80, 0) 80%);
    z-index: 0;
  }
  .roundEndGradient {
    &.green {
      background: linear-gradient(0deg, rgb(25, 25, 25) 0%, rgb(0, 95, 60) 80%);
    }
    &.red {
      background: linear-gradient(0deg, rgb(25, 25, 25) 0%, rgb(90, 20, 0) 80%);
    }
    z-index: 1;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    padding: $small-spacing;
    background-color: $dark-gray;
    border-radius: $border-radius;
    z-index: 1;
    @include desktop-or-landscape() {
      flex-direction: row;
      align-items: center;
      padding: $spacing;
    }
  }
  .tabs {
    display: flex;
    flex-direction: column;
    gap: $small-spacing;
    padding: $small-spacing 0 0 0;
    aspect-ratio: 2 / 1;
    min-height: 13rem;
    @include desktop-or-landscape() {
      aspect-ratio: unset;
      min-height: unset;
      align-self: stretch;
      flex: 0 1 25%;
      padding: 0 0 0 $spacing;
      gap: $spacing;
    }
    .tabButtons {
      display: flex;
      gap: $small-spacing;
      button {
        flex: 1 1 auto;
        border-radius: $border-radius;
        &.selected {
          background-color: $light-gray;
        }
        &:disabled {
          opacity: 0.5;
          cursor: not-allowed;
        }
      }
    }
  }
  .connectionInfoMessage {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 2;
    opacity: 1;
    transition: opacity 500ms;
    &.hidden {
      opacity: 0;
      pointer-events: none;
    }
    span {
      text-align: center;
      font-size: 2rem;
      color: rgb(255, 255, 255);
    }
  }
}
